.recipeDetails {
  display: flex;
  position: relative;
}

.recipeDetailsWrapper {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipeImage {
  width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.recipeText {
  flex: 1;
}

.recipeTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipeCategory {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}

.recipeInfo {
  line-height: 1.6;
}

.recipeTime {
  font-weight: bold;
}

.recipeDescription {
  margin-bottom: 15px;
}

.ingredientsSection,
.methodSection {
  margin-top: 15px;
}

.ingredientsSection h2,
.methodSection h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

.createComment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentHeader {
  margin-top: 20px;
  margin-bottom: 20px;
}

.commentItem {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.favoritesIcon {
  width: 30px;
  position: absolute;
  right: 10px;
  cursor: pointer;
  transition: fill 0.3s ease;
}

.ratingBtnWrapper {
  text-align: center;
}

.ratingParagraph {
  margin-top: 8px;
}

.rating{
  display : flex;
  justify-content: center;
}

.rating input{
  position : absolute;
  left     : -100vw;
}

.rating label{
  width      : 48px;
  height     : 48px;
  padding    : 48px 0 0;
  overflow   : hidden;
  background : url('../../../public/stars.svg') no-repeat top left;
}

.rating:not(:hover) input:indeterminate + label,
.rating:not(:hover) input:checked ~ input + label,
.rating input:hover ~ input + label{
  background-position : -48px 0;
}

.rating:not(:hover) input:focus-visible + label{
  background-position : -96px 0;
}