.addRecipeBtn {
  margin: 20px;
  transition: background-color 0.3s ease-in-out;
  border-radius: 4px;
  padding: 10px;
}

.addRecipeBtn:hover {
  background-color: #0b7dda;
  color: #fff;
}

.recipesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.noRecipes {
  margin-top: 30px;
}

.pagesWrapper {
  text-align: center;
}

.activeBtn,
.pageBtn {
  padding: 10px;
  margin:10px;
  cursor: pointer;
}

.activeBtn {
  border: none;
}

.pageBtn {
}