.latestRecipesSection {
    text-align: center;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }
  
  .recipesContainer {
    display: flex;
    justify-content: space-between;
  }

  .viewMore {
    float: right;
    transition: background-color 0.3s ease-in-out;
    border-radius: 4px;
    padding: 10px;
  }

  .viewMore:hover {
    background-color: #0b7dda;
    color: #fff;
  }